{% extends 'base.html' %}
{% block content %}

    <h1>Admin interface</h1>
    <table>
        <div class="table_header">
            <p>City managers</p>
            <a href="{% url 'addmanager' %}" class="add_icon"></a>
        </div>
        <tr>
            <th>Username</th>
            <th>City</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>
        {% for manager in managers %}
        <tr>
            <td>{{manager.user.username}}</td>
            <td>{{manager.city.name}}</td>
            <td><a href="{% url 'editmanager' manager.user_id %}" class="btn">Update</a></td>
            <td><a href="{% url 'deletemanager' manager.user_id %}" class="btn btn_cancel">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

    <table>
        <div class="table_header">
            <p>Cities</p>
            <a href="/addcity" class="add_icon"></a>
        </div>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>

        {% for city in cities %}
        <tr>
            <td>{{city.code}}</td>
            <td>{{city.name}}</td>
            <td><a href="{% url 'editcity' city.code %}" class="btn">Update</a></td>
            <td><a href="{% url 'deletecity' city.code %}" class="btn btn_cancel">Delete</a></td>
        </tr>
        {% endfor %}
    </table>


    <table>
        <div class="table_header">
            <p>Hotels</p>
            <a href="{% url 'addhotel' %}" class="add_icon"></a>
        </div>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>City</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>
        {% for hotel in hotels %}
        <tr>
            <td>{{hotel.code}}</td>
            <td>{{hotel.name}}</td>
            <td>{{hotel.city}}</td>
            <td><a href="{% url 'edithotel' hotel.code %}" class="btn">Update</a></td>
            <td><a href="{% url 'deletehotel' hotel.code %}" class="btn btn_cancel">Delete</a></td>
        </tr>
        {% endfor %}
    </table>



        <!-- {% for form in forms %}
        {{form}}
        {% endfor %} -->

{% endblock %}